
body {
	background-color: #FAFAFA;
	max-width: 100%;
	font-family: Helvetica;
	}

#header-nav {
	background-color : #B0B0B0;
	boarder: 0;
	boarder-radius: 0;
}

.navbar-brand a {
	margin: 10px 15px 10px 0px;
	font-size: 1.5em;
}

#collapsable-nav {
	background-color : #C8C8C8;
	text-align: center;
}

#main-content {
	margin: 0px 0px 0px 0px;
	width : 100%;
}



