body {
	background-color: #FFFFFF;
	max-width: 100%;
	font-family: Helvetica;
	}

#header-nav {
	background-color : #808080;
	boarder: 0;
	boarder-radius: 0;
}

.navbar-brand a {
	margin: 10px 15px 10px 0px;
	font-size: 1.5em;
}

#collapsable-nav {
	background-color : #C8C8C8;
	text-align: center;
}

#main-content {
	margin: 0px 0px 0px 0px;
	width : 100%;
}

.navbar-brand h1 { 
  font-family: 'Food, LLC', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.nav-link a {
   text-align: center;
   border-bottom: 2px #2F4F4F
  
}

.text-center {
 text-align: center;
 font-weight: bold;

}
